<html lang="zxx" class=" js flexbox canvas canvastext webgl touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths"><head>
    <!-- meta tag -->
    <meta charset="utf-8">  
    <title>Home | Tekhub - Multipurpose Startups HTML5 Template</title>
    <meta name="description" content="">
    <!--bootstrap css and js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> 
    <!-- JavaScript Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="images/fav.png">
    <!-- bootstrap v4 css -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.css">
    <!-- flaticon css  -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/flaticon.css">
    <!-- rsmenu CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/rsmenu-main.css">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
    <!-- rsanimations css -->
    <link rel="stylesheet" type="text/css" href="assets/css/rsanimations.css">
    <!-- rsmenu transitions CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/rsmenu-transitions.css">
    <!-- Slider Revolution CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="assets/revolution/css/navigation.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- switch color presets css -->
    <link id="switch_style" href="#" rel="stylesheet" type="text/css">
    <!-- Spacing css -->
    <link rel="stylesheet" type="text/css" href="assets/css/spacing.css">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>
<body>

<!--Header Section Start-->
<header id="rs-header" class="transparent-header">
    <!-- Header Menu Start -->
    <div class="menu-area menu-sticky">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="logo-area sticky-hidden">
                        <a href="index.html"><img src="assets/images/dark-logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-9 mobile-menu-area">
                    <div class="rs-menu-area display-flex-center">
                        <div class="main-menu">
                            <a class="rs-menu-toggle"><i class="fa fa-bars"></i></a>
                            <nav class="rs-menu rs-menu-close">
                              <ul class="nav-menu">
                                  <!-- Home -->
                                  <li><a href="index.html">Home</a></li>
                                  <!-- End Home -->

                                  <!-- About Start -->
                                  <li class="menu-item-has-children"><a class="active" href="about.html">About</a>
                                    <ul class="sub-menu">
                                        <li><a href="team.html">Team</a></li>
                                    <div class="sub-menu-close"><i class="fa fa-times" aria-hidden="true"></i>Close</div></ul>
                                  <span class="rs-menu-parent"><i class="fa fa-angle-down" aria-hidden="true"></i></span></li> 
                                  <!-- About End -->
                                  <!-- Services Start -->
                                  <li><a href="services.html">Services</a></li>
                                  <!-- Services End -->                                   
                                  <li class="menu-item-has-children"><a href="#">Blog</a>
                                      <ul class="sub-menu">
                                          <li><a href="blog.html">Blog</a></li>
                                          <li><a href="blog-details.html">Blog Details</a></li>
                                      <div class="sub-menu-close"><i class="fa fa-times" aria-hidden="true"></i>Close</div></ul>
                                  <span class="rs-menu-parent"><i class="fa fa-angle-down" aria-hidden="true"></i></span></li>

                                  <li> <a href="contact.html">Contact</a> </li>
                              </ul>
                           </nav>
                       </div>
                       <div class="right-bar-button text-right">
                            <ul>
                                <li><a class="readon box-shadow" href="#">Get Started</a></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Menu End -->
</header>
<!--Header Section End-->

<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs">
    <div class="breadcrumbs-wrap">
        <img src="assets/images/breadcrumbs/bg1.jpg" alt="Breadcrumbs Image">
        <div class="breadcrumbs-inner">
            <div class="container">
                <div class="breadcrumbs-text">
                    <h1 class="breadcrumbs-title mb-17 sm-mb-10">Registration</h1>
                    <div class="categories">
                        <ul>
                            <li><a href="index.html"><i class="fa fa-house"></i>Home</a></li>
                            <li>Registration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>                
</div>
<!-- Breadcrumbs End -->


<section class="container">
    <div class="col-md-10 mx-auto col-lg-5 mb-3 mt-60">
       
        <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class=" mb-3 mt-10">
                <h4 class="signin">Register Now</h4>
           
                </div>

                <div class="row mb-3 ">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                    </div>
                  </div> 
        
          <div class=" row mb-3 ">
            <div class=" col">
                <input type="email" class="form-control" id="floatingInput" placeholder="Email-address">
            </div>
            <div class="col">
                <input type="phone" class="form-control" id="floatingInput" placeholder=" Phone Number">
            </div>
          </div> 

          
          <div class=" row mb-3 ">
            <div class=" col">
                <input type="password" class="form-control" id="floatingInput" placeholder="Password">
            </div>
            <div class="col">
                <input type="password" class="form-control" id="floatingInput" placeholder=" Confirm password">
            </div>
          </div> 
      
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Accept terms and condition
            </label>
    
    
          </div>
          <button class="w-100 btn btn-lg btn-warning" type="submit">Register Now</button>
          <hr class="my-4">
          <div class="text-center">
                <h6>Already have an account? <a href="Register" class="link-danger">Login</a></h6>
            </div>
        </form>
    </div>
    
    </section>

<!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer rs-footer-light">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 mb-md-30">
                        <div class="footer-widget">
                            <ul class="footer-services">
                                <li><a href="#">Virtual  Assistants</a></li>
                                <li><a href="#">Modernization</a></li>
                                <li><a href="#">Identity Verification</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-md-30">
                        <div class="footer-widget">
                            <ul class="footer-services">
                                <li><a href="#">Machine Learning</a></li>
                                <li><a href="#">Based Engineering</a></li>
                                <li><a href="#">AI Applications</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-md-30">
                        <div class="footer-widget">
                            <ul class="footer-services">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Company Overview</a></li>
                                <li><a href="#">Our Vision</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-md-30">
                        <div class="footer-widget">
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container"> 
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-md-30">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="#"><img src="assets/images/dark-logo.png" alt="Footer Logo"></a>
                            </div>
                            <div class="copyright hidden-md">
                                <p>© Copyrights 2021 <a href="#">RS Theme</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 mb-md-30">
                        <div class="footer-widget">
                            <h4 class="footer-title">Contact Us</h4>
                            <ul class="address-widget">
                                <li>503 Old Buffalo Street Northwest <br> #205 New York-3087 </li>
                                <li><a href="tel:+123456789">(123)-456-7890</a>, <a href="tel:+123456789">(123)-456-7890</a></li>
                                <li><a href="mailto:info@yourcompany.com">infoname@gmail.com,</a></li>
                                <li><a href="#">www.yourname.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 mb-md-30">
                        <div class="footer-widget">
                            <h4 class="footer-title">Newsletter</h4>
                            <!-- Newsletter Start -->
                            <div class="news-info">
                                <p>Lorem ipsum dolor sit amet, conse <br>turini adipiscing elit.</p>
                            </div>
                            <form class="footer-form">
                                <input type="text" class="form-input" placeholder="Enter Your Email">
                                <button type="submit" class="form-button">Submit</button>
                            </form>
                            <div class="copyright mobile-copyright md-mt-30">
                                <p>© Copyrights 2021 <a href="#">RS Theme</a></p>
                            </div>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>

    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="flaticon-cross-out"></i>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Searching..." type="text">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End --> 
    
     <!-- jquery latest version -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Slider Revolution core JavaScript files -->
    <script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Slider Revolution extension scripts. ONLY NEEDED FOR LOCAL TESTING -->
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <!-- modernizr js -->
    <script src="assets/js/modernizr-2.8.3.min.js"></script>
    <!-- counter top js -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <!-- bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- wow js -->
    <script src="assets/js/wow.min.js"></script>
    <!-- animated testimonial js -->
    <script src="assets/js/animate-testimonial.js"></script>
    <!-- rsmenu js -->
    <script src="assets/js/rsmenu-main.js"></script>
    <!-- plugins js -->
    <script src="assets/js/plugins.js"></script>
    <!-- Contact js -->
    <script src="assets/js/contact.form.js"></script>
        <!-- main js -->
    <script src="assets/js/main.js"></script>

</body>
</html>