{% extends 'main/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<!--Header Section End-->
<section class="container">
    <br>
    <br>
    <div class="col-md-10 mx-auto col-lg-5 mb-3 mt-60">
        <form class="p-4 p-md-5 border rounded-3 bg-light" action="/reset_password/{{token}}/" method="post">
            <div class=" mb-3 mt-10">
                <h4 class="signin">Forgot Password</h4>
            </div>
            <div class="form-floating mb-3">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                    required>
            </div>
            <div class="form-floating mb-3">
                <label for="cpassword">Confirm Password</label>
                <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password"
                    name="cpassword" required>
            </div>
            <button class="w-100 btn btn-lg btn-warning" type="submit">Reset Password</button>
        </form>
    </div>

</section>
{% endblock %}