{% extends 'main/base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content%}
<!--Header Section End-->
<section class="container">
    <br>
    <br>
    <div class="col-md-10 mx-auto col-lg-5 mb-3 mt-60">

        <form class="p-4 p-md-5 border rounded-3 bg-light" action="{{ url_for('faculty.forgot_password') }}"
            method="post">
            <div class=" mb-3 mt-10">
                <h4 class="signin">Forgot Password</h4>
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput">Email address</label>
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
                    required>
            </div>
            <button class="w-100 btn btn-lg btn-warning" type="submit">Forgot</button>
            <hr class="my-4">
            <div class="text-center">
                <h6>Don't you have an account? <a href="{{ url_for('faculty.register') }}">Register</a></h6>
                <h6>Remember Password? <a href="{{ url_for('faculty.login') }}">Login</a></h6>
            </div>
        </form>
    </div>

</section>
{% endblock %}