{% extends 'main/base.html' %}
{% block title %}
Record Attendance - Video
{% endblock title %}
{% block meta %}
<meta http-equiv="refresh" content="100; URL={{ url_for('faculty.attendance') }}" />
{% endblock meta %}

{% block content %}
<br><br><br><br>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('faculty.attendance') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg>
                            Mark Attendance
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('faculty.settings') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-layers" aria-hidden="true">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            Settings
                        </a>
                    </li>
                    {% set roles = [] %}
                    {% for role in current_user.roles %}
                    {{ roles.append(role.name)|default("", True) }}
                    {% endfor %}
                    {% if 'hod' in roles %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.approve_leaves') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-file" aria-hidden="true">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            HOD Dashboard
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"> Record Attendance - Video</h1>
            </div>
            <div>
                <span>
                    {{ attendance_date }}
                </span>
                <span>
                    {{ academic_session }}
                </span>
                <span>
                    {{ semester }}
                </span>
                <span>
                    {{ subject }}
                </span>
                <span>
                    {{ section }}
                </span>
                <span>
                    {{ unit_number }}
                </span>
                <span>
                    {{ topic }}
                </span>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8  offset-lg-2">
                        <img src="{{ url_for('faculty.video_feed', semester=semester, subject=subject, section=section) }}"
                            width="100%">
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>

{% endblock content %}