{% extends 'main/base.html' %}
{% block content %}
<!-- Slider Section Start -->
<div class="rs-banner">
    <div class="banner-first-shape">
        <img class="wow fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms"
            src="{{ url_for('static', filename='assets/images/banner/shape/lt-shape.png') }}" alt=""
            style="visibility: visible;">
    </div>
    <div class="forcefullwidth_wrapper_tp_banner" id="rev_slider_1_forcefullwidth"
        style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px">
        <div class="rev_slider_wrapper"
            style="margin-top: 0px; margin-bottom: 0px; position: absolute; max-height: none; overflow: visible; height: 950px; width: 1330px; left: 0px;">
            <div id="rev_slider_1" class="rev_slider slider-part revslider-initialised tp-simpleresponsive"
                data-version="5.4.5" data-slideactive="rs-842076"
                style="max-height: none; margin-top: 0px; margin-bottom: 0px; height: 950px;">
                <!-- BEGIN SLIDES LIST -->
                <ul class="tp-revslider-mainul"
                    style="visibility: visible; display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
                    <!-- MINIMUM SLIDE STRUCTURE -->
                    <li data-transition="fade" class="tp-revslider-slidesli active-revslide"
                        style="perspective: 6000px; width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
                        <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                        <div class="slotholder"
                            style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img class="rev-slidebg defaultimg" src="{{ url_for('static', filename='assets/images/banner/shape/banner.jpg') }}" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">-->
                            <div class="tp-bgimg defaultimg " data-bgcolor="undefined"
                                style="background-repeat: no-repeat; background-image: url(&quot;images/banner/shape/banner.jpg&quot;); background-size: cover; background-position: center top; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;"
                                src="{{ url_for('static', filename='assets/images/banner/shape/banner.jpg') }}">
                            </div>
                        </div>
                        <!-- Banner Logo layer -->
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: -207px; top: 391px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-resizeme banner-logo marquee" data-x="left"
                                        data-hoffset="-215" data-y="bottom" data-voffset="-200" data-width="['auto']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="image"
                                        data-responsive_offset="on"
                                        data-frames="[{&quot;delay&quot;:4000,&quot;speed&quot;:3000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:bottom;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:3000,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]" id="layer-302693325"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        <img src="{{ url_for('static', filename='assets/images/banner/shape/banner-logo.png') }}"
                                            alt=""
                                            style="width: 70.3551px; height: 516.58px; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 0px; top: 330px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);">
                                    <h1 class="tp-caption tp-resizeme banner-title"
                                        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                        data-y="['100','90','90','90']" data-voffset="['0','0','0','0']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="text"
                                        data-responsive_offset="on"
                                        data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-fontsize="[70,50,40,30]"
                                        data-lineheight="[80,50,40,30]" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[20,20,20,20]" id="layer-405653475"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 77px; border-width: 0px; margin: 0px; padding: 0px 0px 0px 19px; letter-spacing: 0px; font-weight: 700; font-size: 67px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        Attendive
                                    </h1>
                                </div>
                            </div>
                        </div>

                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 0px; top: 417px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);">
                                    <h2 class="tp-caption tp-resizeme banner-sub-title"
                                        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                        data-y="['190','160','150','140']" data-voffset="['0','0','0','0']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="text"
                                        data-responsive_offset="on"
                                        data-frames="[{&quot;delay&quot;:2000,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-fontsize="[60,40,30,30]"
                                        data-lineheight="[70,40,30,30]" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[20,20,20,20]" id="layer-673842611"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 67px; border-width: 0px; margin: 0px; padding: 0px 0px 0px 19px; letter-spacing: 0px; font-weight: 500; font-size: 58px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        For Attendance
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 0px; top: 503px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-resizeme banner-desc"
                                        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                        data-y="['280','220','200','200']" data-voffset="['0','0','0','0']"
                                        data-width="['610','410','410','610']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="text"
                                        data-whitespace="normal" data-responsive_offset="on"
                                        data-frames="[{&quot;delay&quot;:2500,&quot;speed&quot;:1200,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:200px;skX:-85px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-fontsize="[16,16,16,16]"
                                        data-lineheight="[30,26,26,25]" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[20,20,20,20]" id="layer-574406307"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 29px; border-width: 0px; margin: 0px; padding: 0px 0px 0px 19px; letter-spacing: 0px; font-weight: 400; font-size: 15px; white-space: normal; min-height: 0px; min-width: 588px; max-height: none; max-width: 588px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        Mark Attendance With Face Recognition.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 0px; top: 600px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-resizeme button-part"
                                        data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                        data-y="['380','340','300','280']" data-voffset="['0','0','0','0']"
                                        data-width="['auto']" data-height="['auto', 'auto', 'auto', 'auto']"
                                        data-type="text" data-responsive_offset="on"
                                        data-frames="[{&quot;delay&quot;:3000,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:-50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[20,20,20,20]" id="layer-924675800"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 25px; border-width: 0px; margin: 0px; padding: 0px 0px 0px 19px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        {% if current_user.is_authenticated %}
                                        <a class="readon banner" href="{{ url_for('student.attendance') }}"
                                            style="transition: none 0s ease 0s; text-align: inherit; line-height: 14px; border-width: 0px; margin: 0px; padding: 19px 92px 17px 34px; letter-spacing: 0px; font-weight: 500; font-size: 14px;">
                                            Attendance</a>

                                        {% else %}
                                        <a class="readon banner" href="{{ url_for('student.register') }}"
                                            style="transition: none 0s ease 0s; text-align: inherit; line-height: 14px; border-width: 0px; margin: 0px; padding: 19px 92px 17px 34px; letter-spacing: 0px; font-weight: 500; font-size: 14px;">
                                            Register</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BEGIN IMAGE LAYER -->

                        <!-- Shadow Layer -->
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 825px; top: 6px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-resizeme image-part" data-x="right" data-hoffset="-295"
                                        data-y="center" data-voffset="-140" data-width="['auto']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="image"
                                        data-responsive_offset="on"
                                        data-frames="[{&quot;delay&quot;:500,&quot;speed&quot;:3000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:right;y:top;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]" id="layer-753492682"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        <img class="left-right ly2"
                                            src="{{ url_for('static', filename='assets/images/banner/shape/top-shadow-shape.png') }}"
                                            alt=""
                                            style="width: 789.326px; height: 669.819px; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Round Border Layer -->
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 687px; top: 169px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-resizeme image-part"
                                        data-x="['right','right','right','right']"
                                        data-hoffset="['5','5','-1000','-1000']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['12','12','12','12']" data-width="['auto']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="image"
                                        data-responsive_offset="on" data-whitespace="normal"
                                        data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:3000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:-300px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]" id="layer-37164944"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: normal; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        <img class="right-left ly1 spine anim"
                                            src="{{ url_for('static', filename='assets/images/banner/shape/round-border-shape.png') }}"
                                            alt=""
                                            style="width: 638.014px; height: 637.051px; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Circle Layer -->
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 717px; top: 208px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-resizeme image-part"
                                        data-x="['right','right','right','right']"
                                        data-hoffset="['35','35','-1000','-1000']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['12','12','12','12']" data-width="['auto']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="image"
                                        data-responsive_offset="on" data-whitespace="normal"
                                        data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:3000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:right;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]" id="layer-313239526"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: normal; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        <img class="left-right ly2"
                                            src="{{ url_for('static', filename='assets/images/banner/shape/shape-circle-bg.png') }}"
                                            alt=""
                                            style="width: 579.225px; height: 558.986px; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Shape Image Layer -->
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 774px; top: 254px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-resizeme image-part scan-img"
                                        data-x="['right','right','right','right']"
                                        data-hoffset="['93','93','0','-1000']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['12','12','12','12']" data-width="['auto']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="image"
                                        data-responsive_offset="on" data-whitespace="normal"
                                        data-frames="[{&quot;delay&quot;:2500,&quot;speed&quot;:3000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:bottom;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:2600,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]" data-bgparallax="15" id="layer-442075033"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: normal; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        <span class="scan"
                                            style="transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px 98px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;"></span>
                                        <img src="{{ url_for('static', filename='assets/images/banner/shape/shape-image.png') }}"
                                            alt=""
                                            style="width: 465.5px; height: 463.572px; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Double Circle layer2 -->
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 671px; top: 687px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-resizeme image-part" data-x="right" data-hoffset="595"
                                        data-y="center" data-voffset="265" data-width="['auto']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="image"
                                        data-responsive_offset="on"
                                        data-frames="[{&quot;delay&quot;:3500,&quot;speed&quot;:3000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;;x:-300px;y:bottom;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:5000,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]" id="layer-458836356"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        <img class="spine-reverse anim"
                                            src="{{ url_for('static', filename='assets/images/banner/shape/double-circle-shape2.png') }}"
                                            alt=""
                                            style="width: 84.8116px; height: 84.8116px; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Double Circle layer2 -->
                        <div class="tp-parallax-wrap"
                            style="position: absolute; display: block; visibility: visible; left: 595px; top: 710px; z-index: 1;">
                            <div class="tp-loop-wrap" style="position:absolute;display:block;;">
                                <div class="tp-mask-wrap"
                                    style="position: absolute; display: block; overflow: visible;">
                                    <div class="tp-caption tp-resizeme image-part" data-x="right" data-hoffset="620"
                                        data-y="center" data-voffset="315" data-width="['auto']"
                                        data-height="['auto', 'auto', 'auto', 'auto']" data-type="image"
                                        data-responsive_offset="on"
                                        data-frames="[{&quot;delay&quot;:4000,&quot;speed&quot;:3000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:-300px;y:bottom;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:3000,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                                        data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]" id="layer-730639784"
                                        style="visibility: inherit; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                        <img class="spine anim"
                                            src="{{ url_for('static', filename='assets/images/banner/shape/double-circle-shape1.png') }}"
                                            alt=""
                                            style="width: 136.855px; height: 136.855px; transition: none 0s ease 0s; text-align: left; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- END IMAGE LAYER -->
                    </li>
                </ul>
                <div class="tp-loader spinner0" style="display: none;">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div class="tp-bannertimer" style="visibility: hidden; width: 0%;"></div>
            </div>
        </div>
        <div class="tp-fullwidth-forcer" style="width: 100%; height: 950px;"></div>
    </div>
    <div class="banner-last-shape">
        <img class="image1 wow fadeInRight" data-wow-delay="700ms" data-wow-duration="1500ms"
            src="{{ url_for('static', filename='assets/images/banner/shape/rb2-shape.png') }}" alt=""
            style="visibility: visible;">
        <img class="image2 wow fadeInRight" data-wow-delay="1200ms" data-wow-duration="1500ms"
            src="{{ url_for('static', filename='assets/images/banner/shape/rb1-shape.png') }}" alt=""
            style="visibility: visible;">
    </div>
</div>
<!-- Slider Section End -->

<!-- Feature Section Start-->
<div class="rs-feature pt-130">
    <div class="container">
        <div class="row align-items-center relative">
            <div class="col-lg-6 md-mb-50 pr-0">
                <div class="feature-img">
                    <img class="hidden-bg" src="{{ url_for('static', filename='assets/images/feature/1A.png') }}"
                        alt="">
                    <div class="image left-img wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="2000ms"
                        style="visibility: visible;">
                        <img src="{{ url_for('static', filename='assets/images/feature/first/1.png') }}" alt="">
                    </div>
                    <div class="image top-img wow fadeInDown" data-wow-delay="600ms" data-wow-duration="2500ms"
                        style="visibility: visible;">
                        <img src="{{ url_for('static', filename='assets/images/feature/first/2.png') }}" alt="">
                    </div>
                    <div class="image bottom-img wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2500ms"
                        style="visibility: visible;">
                        <img src="{{ url_for('static', filename='assets/images/feature/first/3.png') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-60 md-pl-15">
                <div class="sec-title mb-30">
                    <h2 class="title">Mark Attendance<br> With Face Recognition</h2>
                    <p>Register your Face by going to your Profile Settings.</p>
                </div>
                <div class="flex-inner">
                    <div class="flip-icon-box mb-10 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"
                        style="visibility: visible;">
                        <div class="icon-part primary">
                            <i class="bi bi-person-bounding-box"></i>
                        </div>
                        <div class="text-part">
                            <h5 class="flip-box-title">Register Yourself </h5>
                            <p>Create an account with us <br>Under your College.</p>
                        </div>
                    </div>
                    <div class="flip-icon-box wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms"
                        style="visibility: visible;">
                        <div class="icon-part secondary">
                            <i class="bi bi-bullseye"></i>
                        </div>
                        <div class="text-part">
                            <h5 class="flip-box-title">Register Your Face </h5>
                            <p>Register your Face by going <br>to your Profile Settings.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-img right-bottom animated pulse infinite">
                <img class="img-1 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms"
                    src="{{ url_for('static', filename='assets/images/double-circle-shape1.png') }}"
                    alt="Double Ball Image" style="visibility: visible;">
                <img class="img-2 wow fadeInUp" data-wow-delay="700ms" data-wow-duration="2000ms"
                    src="{{ url_for('static', filename='assets/images/double-circle-shape2.png') }}"
                    alt="Double Ball Image" style="visibility: visible;">
            </div>
        </div>
    </div><!-- .container end -->
</div>
<!-- Feature Section End-->
{% endblock %}